 /* Reset */
 *{
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

nav, ul{ list-style: none;}

a{
    text-decoration: none;
    cursor: pointer;
    opacity: 0.9;
}
a:hover{  opacity: 1; }

/* Header */

header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #FFF;
}

header img{ width: 200px; }

header nav{ display: flex; }

header li a{ color: #191c03;}

header li { margin: 0 15px; }

header li:first-child{ margin-left: 0; } 

header li:last-child{ margin-right: 0; }

@media(max-width: 700px){
    header{ flex-direction: column; }
    header img{ margin-bottom: 15px; }
}

/* HERO */

.hero{
    background-image: url('../img/hero.jpg'); 
    background-size: cover;
    min-height: 100vh;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items:  center;
    flex-direction: column;
    text-align: center;
}

.hero h1{
    font-size: 3.2em;
    margin-bottom: 15px;
}
.hero h3{
    font-size: 2rem;
    margin-bottom: 15px;
}
.hero .btn{
    background-color: #FFF;
    border-radius: 4px;
    color: #191c03;
    padding: 20px 50px;
    text-transform: uppercase;
}

@media(max-width: 700px){
    .hero h1{font-size: 2.3rem; margin-top: 20px;}
    .hero h3{font-size: 1.5rem;}
}

/* CONHECA O HOTEL */

.conheca-o-hotel{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 50px;
}

.conheca-o-hotel h3 { 
    color: #191c03;
    font-size: 2em; 
    margin-bottom: 35px;
    text-align: center;
}

.conheca-o-hotel p{
    max-width: 800px;
    color: #191c03; 
    margin-bottom: 35px;
    text-align: center;
}

.conheca-o-hotel hr{
    width: 200px;
    height: 2px;
    background-color: #191c03;
    margin-bottom: 70px;
    border:none;
}

.conheca-o-hotel .grid{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.conheca-o-hotel li{
    height: 350px;
    padding: 20px;
    border-radius: 4px;
    background-clip: content-box;
    background-size: cover;
    background-position: center;
}

.conheca-o-hotel li.small{  flex-basis: 40%; }
.conheca-o-hotel li.large{  flex-basis: 60%; }

@media(max-width: 700px){
     .conheca-o-hotel li.small,  .conheca-o-hotel li.large{ flex-basis: 100%; }
}

/* CARACTERICAS */

.caracteristicas{
    background-color: #191c03;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 50px;
}

.caracteristicas h3 { 
    color: #fff;
    font-size: 2em; 
    margin-bottom: 35px;
    text-align: center;
}

.caracteristicas p{
    max-width: 800px;
    color: #fff; 
    margin-bottom: 35px;
    text-align: center;
}

.caracteristicas hr{
    width: 200px;
    height: 2px;
    background-color: #fff;
    margin-bottom: 70px;
    border:none;
}

.caracteristicas .grid{
    width: 100%;
    display: flex;
}

.caracteristicas .grid li{
    padding: 0 30px;
    text-align: center 
}

.caracteristicas .grid li i{
    color: #c3c63b;
    font-size: 3.5rem;
    margin-bottom: 30px;
}

.caracteristicas .grid li h4{
    font-size: 1.5rem;
    color:  #c3c63b;
    margin-bottom: 30px;
}

.caracteristicas .grid li p{
    color: #FFF;
}

@media(max-width: 850px){
    .caracteristicas .grid{
        flex-direction: column;
    }
}


/* Newsletter */
.newsletter{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 50px;
}


.newsletter h3 { 
    color: #c3c63b;
    font-size: 2em; 
    margin-bottom: 35px;
    text-align: center;
}

.newsletter p{
    max-width: 800px;
    color: #c3c63b; 
    margin-bottom: 35px;
    text-align: center;
}

.newsletter hr{
    width: 200px;
    height: 2px;
    background-color: #c3c63b;
    margin-bottom: 70px;
    border:none;
}

.newsletter form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    max-width: 800px;
}

.newsletter input{
    padding: 15px; 
    border: 1px solid #c3c63b; 
    border-radius: 4px;
    margin-right: 15px;
    flex: 1;
}

.newsletter button{
    padding: 15px;
    background-color: #c3c63b;
    color: #fff;
    text-transform: uppercase;
    border:none;
    border-radius: 4px;
    cursor: pointer;
}

@media(max-width: 700px){
    .newsletter input{
        flex-basis: 100%;
        margin-bottom: 15px;
    }
}

/* FOOTER */
footer{
    display: flex;
    flex-direction: column;
    background-color: #191c03;
    padding: 50px 0px;
    align-items: center;
}

footer ul{
    display: flex;
    margin-bottom: 25px;
}

footer ul li{
    margin-right: 10px;
}

footer ul li:last-child{
    margin-right: 0;
}

footer ul li a{
    color: #c3c63b; font-size: 2rem;
}

footer p{
    color: #c3c63b;
    text-align: center;
}